.publicPageHome {
  .brd-free-input {
    max-width: 700px;
  }
  .brd-form-focus-unset :focus {
    box-shadow: unset !important;
  }

  .brd-card {
    width: 350px;
    border-radius: 15px;
    border: unset;
    box-shadow: 0px 0px 62px 14px rgba(0, 0, 0, 0.12);

    .card-header {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
  }

  .brd-half-width {
    width: 50%;

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  .brd-dowland-img{
    width: 40px;
  }
}
